@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root{
    --cor01: hsl(30, 54%, 90%);
    --cor02: hsl(30, 18%, 87%);
    --cor03: hsl(30, 10%, 34%);
    --cor04: hsl(24, 5%, 18%);
    --cor05: hsl(14, 45%, 36%);
    --cor06: hsl(332, 51%, 32%);
    --cor07: hsl(330, 100%, 98%);
    --fontedtq: "Young Serif", serif;
    --fontepdr: "Outfit", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: var(--fontepdr);
    font-size: 16px;
    color: var(--cor03);
    font-weight: 400;
}

img{
    width: 100%;
    display: block;
}

div#conteudo{
    padding: 0px 30px 15px 30px;
    text-align: justify;
    border-radius: 30px;
}


.titulo{
    font-family: var(--fontedtq);
    font-weight: 400;
    margin: 20px 0px;
    text-align: left;
}

header > h1{
    color: var(--cor04);
    font-size: 1.9em;
}

header > p{
    margin-bottom: 20px;
}

section{
    margin-bottom: 30px;
}

section:last-child{
    margin-bottom: 0px;
}

section#prt{
    background-color: var(--cor07);
    border-radius: 5px;
    padding: 20px;
    max-width: 310px;
    text-align: left;
}

section#prt > h2{
    color: var(--cor06);
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.2em;
}

ul {
  list-style-position: outside;
  margin-left: 20px;
}

ul > li{
    margin-bottom: 10px;
    padding-left: 15px;
}

span.dtq{
    font-weight: 700;
}

main h2{
    color: var(--cor05);
    font-size: 1.7em;
}

hr{
    background-color: var(--cor02);
    height: 1px;
    border: none;
}

ol {
    list-style-position: outside;
    margin-left: 20px;
}

ol > li{
    margin-bottom: 10px;
    padding-left: 15px;
}

ol li::marker {
    font-weight: 700;
    color: var(--cor05);
}

.ntr {
    list-style: none;
    max-width: 395px;
}

.ntr li {
    display: flex;
    justify-content: space-between;
    padding: 12px 14px;
    border-bottom: 1px solid var(--cor02);
}

.ntr li:last-child {
    border-bottom: none;
}

span.num{
    font-weight: 700;
    color: var(--cor05);
}